<!-- Start Student Data -->
<div class="card" style="height:94%">
    <div class="card-body">
        <div class="">
            <div class="row">
                <div class="col-4">
                    <div class="image-container img-avatar img-size w-75px" class="img-avatar">
                        <img [src]="student.pictureurl" alt="{{student.name}} Profile Picture">
                    </div>
                </div>
                <div class="col-8">
                    <h3>{{student.studentlastname}} {{student.studentfirstname}}</h3>
                    <p class="text-muted m-b-2">{{student.studentschoolkey}}</p>
                    <p class="text-muted m-b-2"><i class="icon ion-md-mail"></i>&nbsp;<a href="mailto:{{student.primaryemailaddress}}">{{student.primaryemailaddress}}</a></p>
                    <p class="text-muted m-b-2">{{student.gradelevel}}</p>
                </div>
            </div>
            <div class="col-12">
                <h3>Comming Soon: </h3>
                More Information
            </div>
        </div>
    </div>
</div>
<!-- END Student Data -->
