BUZZ_API_DB_HOST = 'localhost'
BUZZ_API_DB_PORT = 5432
BUZZ_API_DB_USERNAME ='postgres'
BUZZ_API_DB_PASSWORD = 'pa55w0rd'
BUZZ_API_DB_DATABASE = 'edfi_buzz'
BUZZ_API_DB_SCHEMA = 'buzz'
BUZZ_API_HTTP_PORT = 3000
BUZZ_WORKER_JOB_NAME = 'buzzSurvey'
GOOGLE_DISCOVERY=https://accounts.google.com/.well-known/openid-configuration
GOOGLE_CLIENT_ID=<FROM YOUR GOOGLE APP CREDENTIALS>
GOOGLE_SECRET=<FROM YOUR GOOGLE APP CREDENTIALS>
GOOGLE_AUTH_CALLBACK=http://localhost:3000/
SURVEY_FILES_FOLDER=C:/EdFi_Buzz/