<main role="main" class="container">
  <div class="position-relative p-t-10">
    <a class="btn-outline-nav inline-block position-relative" style="top:-10px; left:0px;" href="javascript:history.back(-1)">
      <i class="ion ion-md-arrow-dropleft f-s-37 position-absolute" style="top:-1px; left:10px;"></i>
    </a>
    <h1 class="inline-block position-absolute" style="top:3px; left:44px;">Student <span>detail</span></h1>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <app-student-card-lite [student]="student"></app-student-card-lite>
    </div>
    <div class="col-lg-7">
      <h2>Guardians</h2>
      <div class="row">
        <div class="col-lg-6" *ngFor="let guardian of student.guardians">
          <app-guardian-card [guardian]="guardian"></app-guardian-card>
        </div>
      </div>
      <h2 *ngIf="student.siblings.length > 0">Siblings</h2>
      <div class="row">
        <div class="col-lg-6" *ngFor="let sibling of student.siblings">
          <app-sibling-card [sibling]="sibling"></app-sibling-card>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <h2>Notes</h2>
    <span (click)="addNote()" class="btn btn-primary btn-rounded f-s-12 m-b-10" style="padding:0 0.5rem !important"> + </span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ol class="list-group">
            <li *ngFor="let note of student.notes; let index = index" class="list-group-item">

              <ng-container *ngIf="index == editingNote">
              <textarea #noteInput [(ngModel)]="note.note" onclick="this.select();" rows="2" class="form-control" ></textarea>
              <div class="d-flex justify-content-between">
                <span (click)="cancelAddNote()" class="btn btn-danger ion-md-save f-s-20 m-t-10">Cancel</span>
                <span (click)="saveNote()" class="btn btn-primary ion-md-save f-s-30 m-t-10"></span>
              </div>
              </ng-container>

              <ng-container *ngIf="index != editingNote">
                <span (click)="deleteNote(note.id)" class="btn btn-sm text-danger ion-md-trash" style="float:right; padding: 0 0.5rem !important;"></span>
                <div>
                  {{note.note}}<br>
                  <span class="text-secondary text-right">{{note.teacher}} - {{note.date | date:'MM/dd/yyyy@h:mma'}}</span>
                </div>
              </ng-container>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <h2>Surveys</h2>
  <div class="row">
    <div class="col-12" *ngFor="let survey of student.surveys">
      <app-survey-card [surveyResult]="survey"></app-survey-card>
    </div>
  </div>
</main>
