FIF_SQLSOURCE=amt
FIF_DBSERVER=127.0.0.1
FIF_PORT=5432
FIF_USER=postgres
FIF_PASSWORD=P@ssw0rd
FIF_DBNAME=FixItFriday
FIF_MAX=20
FIF_IDLETIMEOUTMILLIS=5000
FIF_CONNECTIONTIMEOUTMILLIS=2000
ODS_DBNAME=EdFi_Application
ODS_SERVER=localhost
ODS_USER=ods_user
ODS_PASSWORD=P@ssw0rd
ODS_PORT=1433
ODS_TRUSTSERVERCERTIFICATE=false
ODS_ENABLEARITHABORT=true
ODS_ENCRYPT=false
