.card-container{
    display:flex;
    align-items: center;
}
.btn-fill-search{
    background-color: #007bff;
}

.imgage-round {
    width: 70%;
    border-radius: 50%;
    border: 5px solid lightgrey;
}


.table-btn-outline{
    display: inline-flex !important; 
    margin-right: 1rem;
}

@media (max-width: 575.98px) {
    .form-group label {
        display: none;
    }
}