FIF_DB_HOST = 'localhost'
FIF_DB_PORT = 5432
FIF_DB_USERNAME ='postgres'
FIF_DB_PASSWORD = 'pa55w0rd'
FIF_DB_DATABASE = 'fixitfriday'
FIF_API_PORT = 3000
GOOGLE_DISCOVERY=https://accounts.google.com/.well-known/openid-configuration
GOOGLE_CLIENT_ID=<FROM YOUR GOOGLE APP CREDENTIALS>
GOOGLE_SECRET=<FROM YOUR GOOGLE APP CREDENTIALS>
GOOGLE_AUTH_CALLBACK=http://localhost:3000/
