<div class="position-relative p-t-10">
  <a class="btn-outline-nav inline-block position-relative" style="top:-10px; left:0px;" href="javascript:history.back(-1)">
    <i class="ion ion-md-arrow-dropleft f-s-37 position-absolute" style="top:-1px; left:10px;"></i>
  </a>
  <h1 class="inline-block position-absolute" style="top:3px; left:44px;">Survey <span>results</span></h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body d-flex form-group" style="margin-bottom: 0;">

        <div class="input-group">

          <select class="form-control" name="" id="sectionsSelect" [(ngModel)]="currentSectionKey" (change)="search()">
            <option [value]="null">Select a section</option>
            <option *ngFor="let section of teacher.sections" [value]="section.sectionkey">{{section.sectionkey}}</option>
          </select>

          <input [(ngModel)]="searchInSurvey" (keyup)="search()" type="text" class="form-control" id="searchInputs" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="search()"><label>Search</label><i
                class="ion ion-md-search"></i></button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>


<h1 *ngIf="!showSearchResults">Click "Search" to Show Results</h1>
<h1 *ngIf="showSearchResults">Search Results</h1>

<div *ngIf="showSearchResults" class="row" >
  <div *ngIf="surveyMetadataList.length === 0" class="col-12 col-md-6">
    <div class="alert alert-warning">
      No survey found.
    </div>
  </div>
  <div *ngFor="let surveyMetadata of surveyMetadataList; let i = index "
    class="col-12 col-md-6">
    <div class="card survey-metadata" >
      <div class="card-body" [ngClass]="{'survey-selected' :  surveyMetadata.surveykey === currentQuestion.surveyId }">
        <div [ngStyle]="{'borderLeftColor': colorList[i % 6]}"
             (click)="selectSurvey(surveyMetadata.surveykey,surveyMetadata.title)">
          <h2>{{surveyMetadata.title}}</h2>
          <p><span>Questions:</span> {{surveyMetadata.numberofquestions}} </p>
          <p><span>Completed:</span> {{surveyMetadata.studentsanswered}} of {{surveyMetadata.totalstudents}} students</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="showSurvey">
  <div class="col-12 col-md-6">
    <div id="summaryCard" class="card">
      <div class="card-body">
        <h2>Summary: "{{currentQuestion.surveyName}}"</h2>

        <ul class="list-group">
          <li *ngFor="let question of surveyQuestionSummaryList; let i = index" class="list-group-item">
            <a [routerLink]="" (click)="selectQuestion(question.question)">{{i+1}}. {{question.question}}</a><br>
                <ng-container *ngFor="let answer of question.answers; first as isFirst">
                  <ng-container *ngIf="!isFirst">
                    <ng-container *ngIf="question.answers.length > 2"><br></ng-container>
                    <ng-container *ngIf="question.answers.length <= 2"> | </ng-container>
                  </ng-container>
                  {{answer.label}}:&nbsp;{{answer.count}} ({{answer.count / question.totalAnswers | percent}})
                </ng-container>
          </li>
        </ul>

      </div>
    </div>
  </div>


  <div class="col-12 col-md-6">
    <div id="chartCard" class="card">
      <div class="card-body">
        <h2>Analysing Question: "{{currentQuestion.question}}"</h2>
        <div class="row">
          <div class="col-12">
            <canvas baseChart [datasets]="chartData.data" [labels]="chartData.labels" [options]="chartData.options"
              [plugins]="[]" [legend]="true" [chartType]="chartData.type" (chartClick)="chartClicked($event)"
              style="height: 20rem;">
            </canvas>
          </div>
          <div class="col-12 table-responsive-md">
            <table class="table table-bordered table-striped verticle-middle text-center first-td-left">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>{{currentQuestion.question}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let surveyAnswer of surveyAnswersFiltered">
                  <td>
                    <a [routerLink]="['/app/studentDetail', surveyAnswer.studentschoolkey]">
                      {{surveyAnswer.studentname}}
                    </a>
                  </td>
                  <td>{{surveyAnswer.answer}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="showSurvey">
  <h1>Survey Details</h1>
</div>
<div class="row" *ngIf="showSurvey">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive-md">

        <table lang="en" style="hyphens: auto;" class="full-survey-table table table-bordered table-striped verticle-middle text-center first-td-left dataTable">
          <thead>
            <tr>
              <th (click)="changeSort(STUDENT_NAME_STRING)"
                  [ngClass]="{'sorting': STUDENT_NAME_STRING != sortSurveyByColumn, 'sorting_asc': STUDENT_NAME_STRING === sortSurveyByColumn && sortSurveyByColumnAsc, 'sorting_desc': STUDENT_NAME_STRING === sortSurveyByColumn && !sortSurveyByColumnAsc }"
                  >Student Name
              </th>
              <th *ngFor="let question of surveyQuestionSummaryList; let index = index"
                  (click)="changeSort(question.question)"
                  [ngClass]="{'sorting': question.question != sortSurveyByColumn, 'sorting_asc': question.question === sortSurveyByColumn && sortSurveyByColumnAsc, 'sorting_desc': question.question === sortSurveyByColumn && !sortSurveyByColumnAsc }"
                >{{index+1}}. {{question.question}}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let student of sortSurveyBy(sortSurveyByColumn)">
              <td>
                <a [routerLink]="['/app/studentDetail', student.studentschoolkey]">
                  {{student.studentname}}
                </a>
              </td>
              <td *ngFor="let question of surveyQuestionSummaryList">{{student.answers[question.surveyquestionkey]}}</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
