<nav class="navbar navbar-expand navbar-light bg-light fixed-top top-nav">
  <a class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/OwlFace.png" width="24" /> TOD - Buzz</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav"></ul>
    <ul class="navbar-nav user-settings ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, {{teacher.firstname}} <i class="icon ion-md-person"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute;">
          <a *ngIf="teacher.isadminsurveyloader" [routerLink]="['/app/uploadSurvey']" class="dropdown-item" ><i class="icon ion-md-cloud-upload"></i> Upload survey</a>
          <a class="dropdown-item" (click)="signOut();"><i class="icon ion-md-unlock"></i> Log out</a>
        </div>
      </li>
    </ul>
  </div>


</nav>
