# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  .env - Сontains default values for the environment variables needed by the app.
#  .env.local - Local overrides. This file is loaded for all environments except test.
#  .env.development, .env.test, .env.production - Environment-specific settings.
#  .env.development.local, .env.test.local, .env.production.local - Local overrides of environment-specific settings.
#
#  You can find out more by clicking on the links: https://create-react-app.dev/docs/adding-custom-environment-variables/

PORT=4200

REACT_APP_GQL_ENDPOINT="[GQL ENDPOINT]"
REACT_APP_GOOGLE_CLIENT_ID="[GOOGLE CLIENT ID]"
xREACT_APP_ADFS_CLIENT_ID="[ADFS_CLIENT_ID]"
REACT_APP_ADFS_TENANT_ID="[ADFS_TENANT_ID]"

REACT_APP_SURVEY_MAX_FILE_SIZE_BYTES=1048576
REACT_APP_JOB_STATUS_FINISH_IDS=[3]
