# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  .env - Сontains default values for the environment variables needed by the app.
#  .env.local - Local overrides. This file is loaded for all environments except test.
#  .env.development, .env.test, .env.production - Environment-specific settings.
#  .env.development.local, .env.test.local, .env.production.local - Local overrides of environment-specific settings.
#
#  You can find out more by clicking on the links: https://create-react-app.dev/docs/adding-custom-environment-variables/

PORT=4000
