<div class="card">
    <div class="card-body">
        <p *ngIf="!isCollapsed" style="float: right; margin-bottom: 0;">{{surveyResult.dateAnswered | date}}</p>
        <h2>{{surveyResult.name}}</h2>
        <div *ngIf="!isCollapsed" class="row" >
            <div class="col-12 col-md-6" *ngFor="let item of surveyResult.items; let idx = index">
                <h3>{{item.question}}</h3>
                <p style="margin-bottom: 0;">
                    <i *ngIf="item.answer.toUpperCase() == 'YES'">✔</i>
                    <i *ngIf="item.answer.toUpperCase() == 'NO'">✘</i>
                    <i *ngIf="item.answer.toUpperCase() == 'PHONE'" class="icon ion-md-phone-portrait"></i>
                    <i *ngIf="item.answer.toUpperCase() == 'EMAIL'" class="icon ion-md-mail"></i>

                    {{item.answer}}</p>
                <hr>
            </div>
        </div>

        <div class="row" *ngIf="isCollapsed">
            <div class="col-6">Date: {{surveyResult.dateAnswered | date}}</div>
            <div class="col-6">Questions: {{surveyResult.items.length}}</div>
        </div>

    </div>
  <div class="card-footer">
    <i (click)="isCollapsed = !isCollapsed"
      [ngClass]="{'ion-md-arrow-dropdown-circle':isCollapsed, 'ion-md-arrow-dropup-circle':!isCollapsed}"
      class="ion rounded block text-center f-s-28 cursor-pointer" style="color:#03a9f4"></i>
  </div>
</div>
