img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid lightgrey;
}

.card-footer{
    padding: 0;
}

.row {
  counter-reset: question;
}

.row > div > h3::before {
  counter-increment: question;
  content: counter(question) ". ";
  color: #17b6ea;
}

h3 {
  color: #727d94;
}

hr {
  width: 100%;
  border: solid 1px #ccd2d5;;
}
