<div class="container">
  <div class="position-relative p-t-10">
    <a class="btn-outline-nav inline-block position-relative" style="top:-10px; left:0px;"
      href="javascript:history.back(-1)">
      <i class="ion ion-md-arrow-dropleft f-s-37 position-absolute" style="top:-1px; left:10px;"></i>
    </a>
    <h1 class="inline-block position-absolute" style="top:3px; left:44px;">Upload <span>survey</span></h1>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submitSurvey()">

            <div class="container" appDnd (fileDropped)="onFileDropped($event)" class="text-center p-b-10">
              <p class="icon ion-md-cloud-upload f-s-50"></p>
              <h3>Drag and drop file here</h3>
              <h3>or</h3>
              <div class="custom-file">
                <input #UploadFileInput type="file" (change)="onSelectSurvey($event)"
                  [disabled]="isFileUploading ? 'disabled' : null" class="custom-file-input" id="inputGroupFile01"
                  accept="text/csv" required>
                <label #UploadFileLabel class="custom-file-label" for="inputGroupFile01">Choose survey file</label>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Survey Name" formControlName="surveyName">
              <label *ngIf="form.get('surveyName').touched && form.get('surveyName').invalid"
                class="label alert-danger text-justify w-100"> * Survey name is required </label>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-lg"
                [disabled]="form.invalid ? 'disabled' : null">Upload survey</button>
            </div>

            <!-- Progress Bar -->
            <div class="progress form-group" *ngIf="progress > 0">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
              </div>
            </div>

            <div *ngIf="message"
              [ngClass]="{
                'alert-warning' : message && message.error || (message.serverJobStatus && message.serverJobStatus.jobstatuskey !== 3),
                'alert-success' : !message || (!message.error && message.serverJobStatus && message.serverJobStatus.jobstatuskey === 3)
              }" class="alert">
              <h3>File Upload <strong>{{message.status}}</strong></h3>
              File: {{message.fileName}}<br>
              <ng-container *ngIf="message.serverJobStatus" >
                <h3>Job is <strong>{{message.serverJobStatus.jobstatus.description}}</strong></h3>
                Job Key: {{message.serverJobStatus.jobkey}}<br>
                <ng-container *ngIf="message.serverJobStatus.resultSummaryObj">
                  <h3>Job Results</h3>
                  Survey Key:{{message.serverJobStatus.resultSummaryObj.survey.surveykey}}<br>
                  Survey Title: {{message.serverJobStatus.resultSummaryObj.survey.title}}<br>
                  Questions: {{message.serverJobStatus.resultSummaryObj.survey.questions}}<br>

                  Answers Loaded: {{message.serverJobStatus.resultSummaryObj.answers.load}}<br>
                  Answers Rejected: {{message.serverJobStatus.resultSummaryObj.answers.rejected}}<br>
                  Answers Already Loaded: {{message.serverJobStatus.resultSummaryObj.answers.alreadyLoaded}}<br>
                </ng-container>
                <div *ngIf="!message.serverJobStatus.resultSummaryObj && message.serverJobStatus.resultsummary" class="alert">
                  {{message.serverJobStatus.resultsummary}}
                </div>
              </ng-container>
              <p *ngIf="message.error">{{message.error}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-body alert alert-primary text-justify" lang="en"
        style="hyphens: auto; margin-top: -1rem; padding-bottom: 0;">
        <p>One column in the survey results must be the unique student identifier and must be called "StudentUniqueId".
        </p>

        <p>Supports Google Forms and Survey Monkey formatted exports. You can also use Qualtrics survey exports by
          removing the first of the two headers.</p>
      </div>
    </div>
  </div>


</div>
