<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3 class="m-b-0">{{contact.contactlastname}}, {{contact.contactfirstname}}</h3>
                <p>{{contact.relationshiptostudent}}</p>
                <div class="text-left">
                    <p class="text-muted m-b-2 d-flex"><i class="icon ion-md-mail"></i>&nbsp;<a href="{{contact.primaryemailaddress}}">{{contact.primaryemailaddress}}</a></p>
                    <p class="text-muted m-b-2"><i class="icon ion-md-phone-portrait"></i>&nbsp;<a href="tel:{{contact.phonenumber}}">{{contact.phonenumber}}</a></p>
                    <p class="text-muted m-b-2"><i class="icon ion-md-bookmark"></i>&nbsp;{{contact.contactaddress}}</p>
                </div>
            </div>
        </div>
    </div>
</div>