<!-- Start Student Data -->
<div class="card">
    <div class="card-body">
        <div class="">
            <div class="row">
                <div class="col">
                    <img [src]="sibling.pictureUrl ? sibling.pictureUrl : '/assets/studentImage.jpg'"
                        alt="{{sibling.name}} Profile Picture" class="w-75px m-b-5">
                    <h3>{{sibling.name}}</h3>
                    <span style="clear: both"></span>
                    <p class="text-muted m-b-2">{{sibling.gradeLevel}}</p>
                    <p class="text-muted m-b-2">{{sibling.schoolName}}</p>
                    <!-- <p *ngIf="guardian.isPrimaryContact" style="font-weight: bold;">Primary contact</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Student Data -->