<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <aspNetCore processPath="dotnet" arguments=".\FixItFriday.Api" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess"
                        xdt:Transform="Replace">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>